<<<<<<< HEAD
:root {
}
=======
:root {}

@font-face {
    font-family: 'Euclid Circular';
    src: url('./assets/css/EuclidCircularARegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular';
    src: url('./assets/css/EuclidCircularABold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
>>>>>>> 5598c1832bd23a189aad54969380111a502c987f
