:root {}

@font-face {
    font-family: 'Euclid Circular';
    src: url('./assets/css/EuclidCircularARegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular';
    src: url('./assets/css/EuclidCircularABold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #4468f1, #c079ea);
}